<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Tùy chọn</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-segment [(ngModel)]="settingSegment">
    <ion-segment-button value="notifications">
       <ion-icon name="notifications"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="information">
       <ion-icon name="information-circle"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="settingSegment">
    <ion-list *ngSwitchCase="'notifications'">
      <ion-list> 
        <ion-item>
          <ion-label>Nhận thông báo:</ion-label>
        </ion-item>
        <ion-item (click) = "openFindingPlayerSettingModal(typeFindingMatch)">
          <ion-label>Tìm kèo</ion-label>
          <ion-toggle [(ngModel)]="isReceiveFindingMatch" (ionChange)="toggleChange(typeFindingMatch)"></ion-toggle>
        </ion-item>
        <ion-item (click)="openFindingPlayerSettingModal(typeFindingTeam)">
          <ion-label>Tìm đội</ion-label>
          <ion-toggle [(ngModel)]="isReceiveFindingTeam" (ionChange)="toggleChange(typeFindingTeam)"></ion-toggle>
        </ion-item>
        <ion-item (click)="openFindingPlayerSettingModal(typeFindingPlayer)">
          <ion-label>Tìm cầu thủ</ion-label>
          <ion-toggle [(ngModel)]="isReceiveFindingPlayer" (ionChange)="toggleChange(typeFindingPlayer)"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-list *ngSwitchCase="'information'">
      <ion-item-group>
        <ion-item-divider color="light">Chi tiết</ion-item-divider>
        <ion-item>
          <ion-label stacked>Thành Phố</ion-label>
          <ion-select [(ngModel)]="currentPlayer.city_id" (ngModelChange)="updateDistrict()" cancelText="Cancel" okText="Select">
            <ion-option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Quận/Huyện</ion-label>
          <ion-select [(ngModel)]="currentPlayer.district_id">
            <ion-option *ngFor="let district of districts" value="{{district.id}}">{{district.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Vị Trí</ion-label>
          <ion-select [(ngModel)]="currentPlayer.position_id">
            <ion-option *ngFor="let position of positions" value="{{position.id}}">{{position.value}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Loại Sân</ion-label>
            <ion-select [(ngModel)]="currentPlayer.ground_type_id" >
            <ion-option *ngFor="let groundType of groundTypes" value="{{groundType.id}}">{{groundType.value}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Trình</ion-label>
            <ion-select [(ngModel)]="currentPlayer.level_id">
            <ion-option *ngFor="let level of levels" value="{{level.id}}">{{level.value}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">Thông tin cá nhân</ion-item-divider>
        <ion-item>
          <ion-label stacked>Tên</ion-label>
          <ion-input [(ngModel)]="currentPlayer.name" type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Số Điện Thoại</ion-label>
          <ion-input [(ngModel)]="currentPlayer.phone_number" type="number" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Tuổi</ion-label>
          <ion-input [(ngModel)]="currentPlayer.age" min="0" type="number" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nghề nghiệp</ion-label>
          <ion-input [(ngModel)]="currentPlayer.job" type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Ảnh đại diện</ion-label>
          <ion-input [(ngModel)]="currentPlayer.profile_image_link" type="text" placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Hình Ảnh</ion-label>
          <ion-input [(ngModel)]="currentPlayer.introduce_image_link" type="text" placeholder=""></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-fab right bottom>
        <ion-buttons end>
          <button ion-fab color="primary" (click)="saveProfile()">
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-buttons>
      </ion-fab>
    </ion-list>
  </div>
</ion-content>